
<span id="<%= 'euvou' + event.id.to_s %>">
	<% if current_user.attending?(event) %>
		<%= link_to '/euvou/' + event.id.to_s, method: :delete, remote: true do %>
			<i class="fa fa-child fa-2x icons"></i>Não Vou <%= event.attendees.count %>
        <% end %>	 
	<% else %>
		<%= link_to '/euvou/' + event.id.to_s, method: :post, remote: true do %>
			<i class="fa fa-child fa-2x icons"></i>Eu vou <%= event.attendees.count %>
	    <% end %>	
	<% end %>
</span>