
<div class="container">
	<div class="panel panel-default card-show">  	
		<header>

	 	
			<% if @evento[:attributes]["image"]["url"] != nil %>
				<%= image_tag(@evento[:attributes]["image"]["url"], :class => "show-img", alt: "Imagem do evento") %>
			<% else %>
				<%= image_tag("http://larissacrivellarieventos.com/layout/uploads/images/musica.jpg", :class => "show-img", alt: "Imagem do evento") %>		
			<% end %>
			
			<div class="linha">
				<p>Criado por: <%= @user["data"]["attributes"]["name"] %></p>
				<p class="direita">
					<span class="glyphicon glyphicon-ok"></span>
						<%= @evento[:attributes]["euvous-count"] %>
				</p>
			</div>
			<h1 class="centralizado"><%= @evento[:attributes]["title"]%></h1>
		
		</header>

		<div class="container show">
				<% if @evento[:attributes]["date"] != nil %>
					<p><span class="bold">Data: </span><%= Time.parse(@evento[:attributes]["date"]).strftime("%d/%m/%Y")%></p>
					<p><span class="bold">Hora: </span><%= Time.parse(@evento[:attributes]["time"]).strftime("%T")%></p>
				<% end %>
				<p><span class="bold">Descrição:</span></p>
				<p class="descricao"><%= @evento[:attributes]["description"]%></p>
				<p><span class="bold">Local: </span> <%= @evento[:relationships]["address"]["data"]["location"] %></p>
				
				<input type="hidden" id="lat" value=<%= @evento[:relationships]["address"]["data"]["lat"] %> >
				<input type="hidden" id="lon" value=<%= @evento[:relationships]["address"]["data"]["lon"] %> >

			<div id="map"></div>
			<hr>

		</div>
	</div>
</div>

<hr>
 
<div class="white">     
	<div class="container">

	    <!-- Footer -->
	    <footer>
	        <div class="row">
	            <div class="col-lg-12 centralizado">
	                <a href="/event"><%= image_tag("logo_3.png",:size => "150x70", :class => "logo") %></a>
	            </div>
	        </div>
	    </footer>

	</div>
</div>
